html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a,a:hover{
	text-decoration:none;
	list-style-type:none;
}
/*头部*/
.header{
	width:80%;
	background-color:white;
	margin: 30px auto;
	margin-bottom: 0 ;
	background-color:white;
    overflow:auto;
	height: 50px;
	border-bottom: 1px solid #c9e2b3;
}
.header_li{
     float: left;
	margin-right: 30px;
}
.header_li a{
	color: #337ab7;
}
.header_li a:hover{
	color: #1b6d85;
}
/*内容部分*/
.upload_div{
	width:80%;
	background-color:white;
	margin: 0 auto;
}
.form_div,#leasson_table{
	display: block;
	width: 60%;
	margin: 0px auto;
	position: relative;
}
#leasson_table{
	display: block;
	width: 60%;
	margin: 0px auto;
}
.title{
	display: block;
}
.form_input{
	display: block;
	width: 80%;
	margin: 10px auto;
}
.del{
	width: 50px;
	height: 26px;
	border: none;
	border-radius: 5px;
}
.admin_chapter{
	width: 50px;
	height: 26px;
	border: none;
	border-radius: 5px;
	background-color: #337ab7;
	color: white;
}

.btn_add{
	background-color: #398439;
	border: none;
	border-radius: 3px;
	color: white;
	width: 120px;
	height: 30px;
}
.video_upload,.admin_upload{
	width: 280px;
	height: 280px;
	background-color: #8c8c8c;
	position: absolute;
	top: 100px;
	left: 240px;
	z-index: 8;
	display: none;
}
.video_upload,.admin_upload{
	width: 280px;
	height: 280px;
	background-color: #8c8c8c;
	position: absolute;
	z-index: 8;
	display: none;
}
.admin_upload{
	width: 280px;
	height: 280px;
	background-color: #8c8c8c;
	z-index: 8;
	display: none;
	position:fixed;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
#leasson_table{
	display: block;
	padding: 30px 0;
	position: relative;
}
#sum{
	border: none;
	border-radius: 5px;
	background-color:#337ab7;
	color: white;
	width: 120px;
	height: 30px;
	margin: 10px auto;
	display: block;
}
/*蒙层css*/
.box{
    width: 100%;
    height: 100%;
    background-color:#777777;
    position:absolute;
    top: 0px;
    opacity: 0.5;
     z-index:6;
    display: none;
}
/*底部样式*/
.footer{
	width:80%;
	background-color:white;
	margin: 0px auto;
	border-top: 1px solid #c9e2b3;
	text-align: center;
	padding: 20px 0px;
}