html,body{
				background-color: #e5e5e5 !important;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a,a:hover{
	text-decoration:none;
	list-style-type:none;
}
/*头部*/
.header{
	width:80%;
	background-color:white;
	margin: 30px auto;
	margin-bottom: 0 ;
	background-color:white;
    overflow:auto;
	height: 50px;
	border-bottom: 1px solid #c9e2b3;
}
.header_li{
     float: left;
	margin-right: 30px;
}
.header_li a{
	color: #337ab7;
}
.header_li a:hover{
	color: #1b6d85;
}
/*内容部分*/
.upload_div{
	width:80%;
	background-color:white;
	margin: 0 auto;
}
.form_div,#leasson_table{
	display: block;
	width: 60%;
	margin: 0px auto;
	position: relative;
}
#leasson_table{
	display: block;
	width: 60%;
	margin: 0px auto;
}
.title{
	display: block;
}
.form_input{
	display: block;
	width: 80%;
	margin: 10px auto;
}
.del{
	width: 50px;
	height: 26px;
	border: none;
	border-radius: 5px;
}
.admin_chapter{
	width: 50px;
	height: 26px;
	border: none;
	border-radius: 5px;
	background-color: #337ab7;
	color: white;
}
.del_chapter{
	width: 100px;
	height: 26px;
	border: none;
	border-radius: 5px;
	background-color: #8c8c8c;
	color: black;
}

.btn_add{
	background-color: #398439;
	border: none;
	border-radius: 3px;
	color: white;
	width: 120px;
	height: 30px;
}
.video_upload{
	padding-top: 20px;
	width: 280px;
	height: 200px;
	border-radius: 10px;
	background-color:#31b0d5;
	position: absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	z-index: 8;
	display: none;
}
.admin_upload{
	padding-top: 20px;
	width: 280px;
	height: 200px;
	background-color: #31b0d5;
	border-radius: 10px;
	z-index: 8;
	display: none;
	position:fixed;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
/*封面的修改*/
.uptateImg{
	width: 300px;
	background-color:#31b0d5;
	border-radius: 10px;
	border: 1px solid #31b0d5;
	position:fixed;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	display: none;
	z-index: 8;
}
.title_img{
	display: block;
	margin-left: 10px;
	margin-top: 10px;
}
.img_btn_div{
	margin: 10px auto;
	text-align: center;
	width: 100%;
}
.img_commit,.imgreset{
	border: none;
	border-radius: 2px;
	width: 100px;
	height: 30px;
	color: #269abc;
	background-color: white;
}
.upload_title{
	margin-top: 50px;
	margin-left: 10px;
}
.btn_admin{
	text-align: center;
	margin: 20px auto;
}
.img_btn{
	border: none;
	background-color: #398439;
	color: white;
	width: 100px;
	border-radius: 3px;
	width: 100px;
	height: 30px;
	margin-left: 70px;
	display: block;
	margin-bottom: 20px;
}
.commit_add,.cancle_add{
	border: none;
	border-radius: 2px;
	width: 100px;
	height: 30px;
	color: #269abc;
	background-color: white;
}
#leasson_table{
	display: block;
	padding: 30px 0;
	position: relative;
}
#sum{
	border: none;
	border-radius: 5px;
	background-color:#337ab7;
	color: white;
	width: 120px;
	height: 30px;
	margin: 10px auto;
	display: block;
}
/*蒙层css*/
.box{
    width: 100%;
    height: 100%;
    background-color:#777777;
    position:absolute;
    top: 0px;
    opacity: 0.5;
     z-index:6;
    display: none;
}
/*底部样式*/
.footer{
	width:80%;
	background-color:white;
	margin: 0px auto;
	border-top: 1px solid #c9e2b3;
	text-align: center;
	padding: 20px 0px;
}