html,body{
				background-color: #e5e5e5 !important;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a,a:hover{
	text-decoration:none;
	list-style-type:none;
}
.errorDiv{
    width: 180px;
    background: white;
    position:absolute;
    top:50%;
    left:50%;
    margin:-150px 0 0 -90px;
    border-radius: 5px;
    text-align: center;
}
.error{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
}