html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
			.header{
				width:80%;
				/* text-align: center; */
				margin: 30px auto;
				 overflow:auto;
                background-color:white;
			}
			.header_left{
				float: left;
			}
			.header_right{
				float: right;
			}
            .header_span{
                margin: 0px 5px;
            }