html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
/*头部css*/
.header{
	height: 100px;
	width:80%;
	/* text-align: center; */
	margin: 30px auto;
	margin-bottom: 0;
	overflow:auto;
	background-color:white;

}
ul,a:hover{
	text-decoration:none;
	list-style-type:none;
}
.header_left{
	float: left;
	margin-left: 28px;
	line-height: 50px;
}
.header_right{
	float: right;
	margin-right: 28px;
	line-height: 50px;
}
.header_span{
	margin-left: 28px;
}
/*搜索框*/
.search_div{
	display: flex;
	float: right;
	height: 50px;
	padding-top: 13px;
}
.search_input{
	width: 260px;
}
.search_btn{
	background-color:#31b0d5;
	border:1px solid white;
	border-radius: 3px;
	width: 60px;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
}

.infomation_slect{
	width: 100px;
	height: 100px;
	background-color:white;
	border: #5bc0de solid 1px;
	position:absolute;
	right: 158px;
	/*top: 65px;*/
	z-index: 10;
	float: none;
	/*align-items: center;*/
	display: none;
}
.infomation_slect,ul{
	padding-inline-start: 0px;
	text-align: center;
}
.infomation_slect li:hover{
	background-color:#5bc0de;
	color: white;
}
.infomation_slect a:hover{
	color: white;
}

/*内容css*/
.index_title{
	/*background-color:#5bc0de;*/
	/*margin: 5px auto;*/
	padding: 10px auto;
	text-align: center;
}
.content{
	width:80%;
	/* text-align: center; */
	margin: 0 auto;
	overflow:auto;
	background-color:white;
}
.class_item{
	display: inline-block;
	width:23%;
	height:180px;
	/* text-align: center; */
	margin: 10px;
	overflow:auto;
	background-color:white;
	border:1px solid #e5e5e5;
}
.class_picture{
	display: block;
	width: 220px;
	height: 124px;
}
.class_title{
	display: block;
}
.class_author{
	display: block;
}
/*分页css*/
.page_div{
	margin: 10px auto;
	text-align: center;
}
/*底部样式*/
.footer{
	width:80%;
	background-color:white;
	margin: 0px auto;
	border-top: 1px solid #c9e2b3;
	text-align: center;
	padding: 20px 0px;
}
