html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a:hover{
	text-decoration:none;
	list-style-type:none;
}
.outside_div{
    width: 60%;
    background-color: white;
    margin: 50px auto;
    padding-bottom: 5px;
    position:relative;
}
.title{
    color: #31b0d5;
    padding-left: 20px;
}
.title_cont{
    padding-left: 30px;
}
.update_div,.update_password{
    width: 260px;
    background-color:#31b0d5;
    margin: 40px auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
    top:-330px;
    display:none;
    z-index:9;
}
.form_input{
    width: 260px;
    margin-bottom: 5px;
}
.update,.update_word,.update_img{
     display: inline-block;
    border:1px solid white ;
    border-radius:5px ;
    width: 120px;
    height: 35px;
    text-align: center;
    background-color: #31b0d5;
    color: white;
    font-sizesize: 18px;
}
.update_commit,.update_cancle{
    display: inline-block;
    border:1px solid white ;
    border-radius:5px ;
    width: 120px;
    height: 35px;
    text-align: center;
    background-color: white;
    color: #31b0d5;
    font-sizesize: 18px;
    margin: 10px auto;
}
.update_laber{
    display: block;
    margin-bottom: 5px;
}
/*.box{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color:#777777;*/
/*    position:absolute;*/
/*    top: 0px;*/
/*    opacity: 0.5;*/
/*     z-index:8;*/
/*    display: none;*/
/*}*/
.button_div{
    text-align: center;
    margin: 60px auto;
}
/*头像的修改*/
.uptateImg{
	width: 300px;
	background-color:#31b0d5;
	border-radius: 10px;
	border: 1px solid #31b0d5;
	position:fixed;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	display: none;
	z-index: 8;
}
.title_img{
	display: block;
	margin-left: 10px;
	margin-top: 10px;
}
.img_btn_div{
	margin: 10px auto;
	text-align: center;
	width: 100%;
}
.img_commit,.imgreset{
	border: none;
	border-radius: 2px;
	width: 100px;
	height: 30px;
	color: #269abc;
	background-color: white;
}