html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a:hover{
	text-decoration:none;
	list-style-type:none;
}
.outside_div{
    width: 60%;
    height: 60%;
    background-color: white;
    margin: 50px auto;
}
.title{
    color: #31b0d5;
    padding-left: 20px;
}
.title_cont{
    padding-left: 30px;
}
.update{
    display: block;
    border:1px solid #31b0d5 ;
    border-radius:5px ;
    width: 120px;
    height: 35px;
    margin: 100px auto;
    text-align: center;
    background-color: #31b0d5;
    color: white;
    font-sizesize: 18px;
}
.update_div{
    width: 300px;
    height: 300px;
    background-color:white;
    margin: 10px auto;
}