html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a:hover{
	text-decoration:none;
	list-style-type:none;
}
/*头部css*/
.header{
	width:80%;
	height: 50px;
	/* text-align: center; */
	margin: 30px auto;
	margin-bottom: 0;
	overflow:auto;
	background-color:white;
	vertical-align: middle;
	 position:relative;
}
.header_left{
	float: left;
	margin-left: 28px;
	line-height: 50px;
}
.header_right{
	float: right;
	margin-right: 28px;
	line-height: 50px;
	position:relative;
}
.header_span{
	margin-left: 28px;
}
/*内容部分*/
.content{
	width:80%;
	/* text-align: center; */
	margin: 0 auto;
	overflow:auto;
	background-color:white;
}
.content-left{
	float: left;
	overflow: auto;
	width: 200px;
	background-color: white;
	/*border:1px solid #5bc0de;*/
}

.content-right{
	float: left;
	overflow: auto;
	/*margin-left: 50px;*/
}
.left_ul{
	padding-inline-start: 0px;
	text-align: center;
}
.left_li{
	padding: 6px 0;
}
.left_li:hover{
	background-color:#5bc0de;
}
.right_li{
	display:flex;
	flex-direction:row-reverse
}
.li_border{
	border-bottom: #5bc0de solid 2px;
}
