html,body{
			background-color: #e5e5e5 !important;
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			}
ul,li,a,a:hover{
	text-decoration:none;
	list-style-type:none;
}
/*头部*/
.heade_play{
	width:80%;
	background-color:white;
	margin: 30px auto;
	margin-bottom: 0 ;
	background-color:white;
    overflow:auto;
	height: 50px;
	border-bottom: 1px solid #c9e2b3;
}
.header_ul{
	margin-left: 30px;
}
.header_li{
     float: left;
	margin-right: 30px;
}
.header_li a{
	color: #337ab7;
	line-height: 48px;
}
.header_li a:hover{
	color: #1b6d85;
}
/*内容部分*/
#play_div{
    width:80%;
	background-color:white;
	margin: 0 auto;
    padding-top: 20px;
}
.play_div{
    width: 80%;
    display: block;
    margin:0px auto;
}
.details{
    width: 80%;
    margin: 10px auto;
}
.heading{
    color: #2e6da4;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
.leasson_table{
	display: block;
	width: 80%;
	margin: 0px auto;
    padding-bottom: 20px;
}
.switch{
    border: none;
    margin-left: 50px;
    background-color: white;
    color: #66afe9;
}
/*评论部分*/
.comment_form{
	display: block;
	margin: 10px auto;
	text-align: center;
	overflow: auto;
}
.commtent_context{
	display: block;
	width: 88%;
	margin: 0px auto;
}
.comment_button,.reply_btn{
	float: right;
	margin-right: 6%;
	margin-top: 10px;
	border: none;
	background-color: #31b0d5;
	color: white;
	border-radius: 3px;
	height: 30px;
}
/*评论展示部分*/
.class_item{
	border: 1px solid #ddd;
	width: 88%;
	margin: 0px auto;
	margin-bottom: 20px;
	padding: 10px;
	overflow: auto;
}
.userImg{
	float: left;
	display: inline-block;
	width: 8%;
}
.userInfon{
	float: left;
	display: inline-block;
	width: 92%;
}
.userInfon span{
	display: block;
}
/*分页*/
.page_div{
	margin: 10px auto;
	text-align: center;
}
/*底部样式*/
.footer{
	width:80%;
	background-color:white;
	margin: 0px auto;
	border-top: 1px solid #c9e2b3;
	text-align: center;
	padding: 20px 0px;
}