html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a:hover{
	text-decoration:none;
	list-style-type:none;
}
.header{
	width:80%;
	margin: 30px auto;
	margin-bottom: 0;
	background-color:white;
    overflow:auto;
}
.header_ul{
     float: left;
    display: block;
}