html,body{
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}
ul,a,a:hover{
	text-decoration:none;
	list-style-type:none;
}
/*头部*/
.header{
	width:80%;
	background-color:white;
	margin: 30px auto;
	margin-bottom: 0 ;
	background-color:white;
    overflow:auto;
	height: 50px;
	border-bottom: 1px solid #c9e2b3;
}
.header_li{
     float: left;
	margin-right: 30px;
}
.header_li a{
	color: #337ab7;
}
.header_li a:hover{
	color: #1b6d85;
}
/*内容部分*/
.upload_div{
	width:80%;
	background-color:white;
	margin: 0 auto;
}
.form_div{
	display: block;
	width: 60%;
	margin: 10px auto;
	margin-bottom: 0px;
	position: relative;
	padding-bottom: 30px;
}
.title{
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}
.form_input{
	display: block;
	width: 80%;
	margin: 10px 0px 0px 20px;
}
.btn_div{
	text-align:center;
	margin-top: 10px;
}
.btn_cmmit,.btn_cancle{
	background-color: #337ab7;
	border: none;
	border-radius: 3px;
	color: white;
	margin-left: 20px;
	width: 120px;
	height: 30px;
}
.btn_add{
	background-color: #398439;
	border: none;
	border-radius: 3px;
	color: white;
	margin-left: 20px;
	width: 120px;
	height: 30px;
}
.video_upload{
	width: 280px;
	background-color: #31b0d5;
	position: absolute;
	top: 100px;
	left: 240px;
	z-index: 8;
	display: none;
	border-radius: 3px;
}
.btn_video{
	text-align: center;
	margin: 10px auto;
}
.commit_add,.cancle_add{
	border: none;
	border-radius: 2px;
	width: 100px;
	height: 30px;
	color: #269abc;
	background-color: white;
	margin: 10px auto;
	text-align: center;
}
/*蒙层css*/
.box{
    width: 100%;
    height: 100%;
    background-color:#777777;
    position:absolute;
    top: 0px;
    opacity: 0.5;
     z-index:6;
    display: none;
}
/*底部样式*/
.footer{
	width:80%;
	background-color:white;
	margin: 0px auto;
	border-top: 1px solid #c9e2b3;
	text-align: center;
	padding: 20px 0px;
}