 .html,.body{
            width: 100%;
            height: 100%;
        }
 .form_register{
    background-color: white;
}
.form_register_div{
    width:200px;
    margin:0 auto;
    background-color:red;
}
