<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="/static/front_page/css/information.css">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
    <div class="outside_div">
        <h2  style="text-align: center;color:#31b0d5;padding-top: 20px">
            个人信息
        </h2>
        <h3 class="title">用户名</h3>
            <span class="title_cont"> {{  user.username}}</span>
        <h3 class="title">登陆手机</h3>
            <span class="title_cont">{{ user.telephone }}</span>
         <h3 class="title">邮箱</h3>
            {% if user.email is None %}
                <span class="title_cont">暂未绑定邮箱</span>
            {% else %}
                <span class="title_cont">{{ user.email }}</span>
            {% endif %}
        <button class="update">修改信息</button>
    </div>
    <div class="update_div">
        <form>
            <label>用户名:</label><br/><input  name="username"/><br/>
            <label>手机号</label><br/><input  name="telephone"/><br/>
            <label>邮箱</label><br/><input  name="email"/><br/>
            <button  class="update">确认修改</button>
        </form>
    </div>
<script>
    $(document).ready(function(){
        $('.update').on('click',function(){

        })
    })
</script>
</body>
</html>