<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="/static/front_page/css/information.css">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="shortcut icon" href="\GoXue\wenjian\img\favicon.ico">
</head>
<body>
<div class="header">
        <ul class="header_ul">
            <li class="header_li"><a href="{% url 'front_page:front_index' %}">首页</a></li>
{#            <li class="header_li"><a href="{% url 'mi_user:user_information' %}">个人中心</a></li>#}
        </ul>
</div>
<div class="outside_div">
    <h2 style="text-align: center;color:#31b0d5;padding-top: 20px;">
        个人信息
    </h2>
    <h3 class="title">头像</h3>
    <span class="title_cont"> <img style="width: 80px;height:80px;border-radius: 50%" src={{ user.userotherinformtion.headImg.url }} /></span>
    <h3 class="title">用户名</h3>
    <span class="title_cont"> {{ user.username }}</span>
    <h3 class="title">登陆手机</h3>
    <span class="title_cont">{{ user.telephone }}</span>
    {#        <h3 class="title">密码</h3>#}
    {#            <span class="title_cont">看不到唔</span>#}
    <h3 class="title">邮箱</h3>
    {% if user.email is None %}
        <span class="title_cont">暂未绑定邮箱</span>
    {% else %}
        <span class="title_cont">{{ user.email }}</span>
    {% endif %}
    <div class="button_div">
        <button class="update">修改信息</button>
        <button class="update_word">修改密码</button>
        <button class="update_img">修改头像</button>
    </div>
</div>
<div class="update_div" style="hidden:hidden">
    <form method="post" action="{% url 'mi_user:update_information' %}">
        {% csrf_token %}
        <label class="update_laber">用户名:</label>
        <input name="username" class="form_input"/><br/>
        {#             <label class="update_laber">密码</label>#}
        {#            <input  name="password" class="form_input"/><br/>#}
        <label class="update_laber">邮箱</label>
        <input name="email" class="form_input"/><br/>
        <button class="update_commit" type="submit">确认修改</button>
        <button class="update_cancle" type="reset">取消修改</button>
    </form>
</div>
<div class="update_password" style="hidden:hidden">
    <form method="post" action="{% url 'mi_user:updatepassword' %}">
        {% csrf_token %}
        <label class="update_laber">旧密码</label>
        <input name="old_password" class="form_input"/><br/>
        <label class="new_password">新密码</label>
        <input name="new_password" class="form_input"/><br/>
        <button class="update_commit" type="submit">确认修改</button>
        <button class="update_cancle" type="reset">取消修改</button>
    </form>
</div>
<form class="uptateImg" method="post" action="{% url 'mi_user:imgupdate' %} " enctype="multipart/form-data">
{#        {% csrf_token %}#}
    <label class="title_img">上传新的封面</label>
    <input type="file" name="imgflie" class="title_img"/>
    <div class="img_btn_div">
        <button type="button" class="img_commit" data-id={{ lesson.id }}>确认上传</button>
        <button type="reset" class="imgreset">取消上传</button>
    </div>
</form>
<div class="footer">软件1731-肖沵鑫的毕业设计<br/>
    171414337
</div>
<script>
    $(document).ready(function () {
        $('.update').on('click', function () {
            $('.update_div').css('display', 'block');
            $('.box').css('display', 'block');
        });
        $('.update_word').on('click', function () {
            $('.update_password').css('display', 'block');
            $('.box').css('display', 'block');
        });

        $('.update_commit').on('click', function () {
            $('.update_div').css('display', 'none');
            $('.update_password').css('display', 'none');
        });
        $('.update_cancle').on('click', function () {
            $('.update_div').css('display', 'none');
            $('.update_password').css('display', 'none');
        });
        $('.update_img').on('click', function () {
               $('.uptateImg').css('display','block')
        });
         $('.imgreset').on('click', function () {
               $('.uptateImg').css('display','none')
        });
          $('.img_commit').on('click', function () {
            var formData= new FormData();
            var img = $("input[name='imgflie']").val()
            if(img == ''){
                alert('请上传文件')
                return false;
            };
            formData.append("sign",'header_img');
            formData.append("csrfmiddlewaretoken",'{{ csrf_token }}');
            formData.append('img',$("input[name='imgflie']")[0].files[0]);
            $.ajax({
                type : "post",
                url : "/user/imgUpdate/",
                data : formData,
                processData : false,
                contentType : false,
                success : function(res){
                    if(res.code ==1){
                        alert("头像修改成功!");
                        window.location.reload()
                    };
                    if(res.code ==0){
                          alert(res.error);
                           window.location.reload()
                    };
                }
            });
        });
    })
</script>
</body>
</html>