<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的课程</title>
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="/static/front_page/css/my_class.css">
     <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
 <div class="header">
			<span class="header_left">这是图标的位置</span>

			<span class="header_right">
                <span  class="header_span"><a href="{% url 'mi_class:user_class_upload' %}">上传课程</a></span>
                 <span  class="header_span"><a href="{% url 'mi_user:user_information' %}">{{ request.user.username }}</a></span>
            </span>
 </div>
 <div class="content">
     <div class="content-left">
        <ul class="left_ul">
            <li class="left_li li_border a_class" data-sign="all"><a href="{% url 'mi_class:user_class' sign='all' %}">所有课程</a></li>
            <li class="left_li" class="a_class" data-sign="yes"><a href="{% url 'mi_class:user_class' sign='yes' %}">已发布课程</a></li>
            <li class="left_li" class="a_class" data-sign="not"><a href="{% url 'mi_class:user_class' sign='no' %}">未发布课程</a></li>
        </ul>
     </div>
      <div class="content-right">
        {% if not page.object_list  %}
            暂无课程
        {% else %}
        {% for i in page.object_list %}
         <ul class="right_ul">
            <li class="right_li">
                <div style="display: inline-block;">
                    <a href={% url 'mi_class:user_class_upload_id' class_id=i.id %} style="font-size:28px;display:block;">{{ i.title }}</a>
                    {% if i.is_release == 1 %}
                        <span style="display: block;margin-right: 20px">已发布</span>
                    {% else %}
                        <span style="display: block;margin-right: 20px">未发布</span>
                    {% endif %}
                    <span>{{ i.author }}</span>
                <span style="display: block">{{ i.create_data }}</span>
                </div>
                 <img src="{{ MEDIA_URL }}{{ i.class_image }}" style="display:inline-block;width: 130px;margin-right: 30px">
             </li>
         </ul>
     {% endfor %}
                <div class="page_div">
            <ul class="pagination" >
        {# 如果当前页还有上一页 #}
        {% if page.has_previous %}
            <li>
                {# 点击a标签，跳转到上一页链接 ?index  为地址后面拼接的参数 #}
                <a href="?index={{page.previous_page_number}}">上一页</a>
            </li>
        {% else %}
            {# 如果没有上一页， 则上一页按钮不可点击 #}
            <li class="disabled">
                <a href="#">上一页</a>
            </li>
        {% endif %}

        {% for page_number in paginator.page_range %}
            {# 获取当前页的页码 #}
            {% if page_number == page.number %}
                {# 如果是当前页的话，选中 #}
                <li class="active">
                    <a href="?index={{page_number}}">{{page_number}}</a>
                </li>
            {% else %}
                <li>
                    <a href="?index={{page_number}}">{{page_number}}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <li>
                <a href="?index={{page.next_page_number}}">下一页</a>
            </li>
        {% else %}
        <li class="disabled">
            <a href="#">下一页</a>
        </li>
        {% endif %}
    </ul>
        </div>
    {% endif %}
      </div>
 </div>

</body>
</html>